
.Ready_setup_div{
    margin: 3%;
    overflow: hidden;
}

.Ready_heading_holder{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Ready_SignupButton > button {
    background-color: transparent;
    border:none;
width: 100%;
height: 100%;
font-size: 25px;

    color: white
}
.Ready_SignupButton {
    background-color: #ff522d;
    width: 40%;
    border-radius: 10px;
    height: 40px;
    border-bottom:  2px solid black;
}
.Ready_heading{
    width: 60%;
}
.Ready_backgroundimg > img {
    position: absolute;
    left: 91%;
}
.Ready_Section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.Ready_holder{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.Ready_heading_holder > div {
    text-align: center;
}
.Ready_heading_holder  >div > h2{
    font-size: 66px;
}



@media  screen and (max-width:1080px) {

 .Ready_img > img{
      width: 300px;
 }
 .Ready_backgroundimg > img {
     position: absolute;
     left: 60%;
 }
   .Ready_holder {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        width: 100%;
        -moz-box-pack: space-evenly;
        justify-content: space-evenly;
        flex-direction: column;
    }

    
}